/* =========================
   FEATURES GRID
========================= */
.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
}

/* =========================
   TABLET Y MOBILE GRANDE
========================= */
@media (max-width: 768px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

}

/* =========================
   MOBILE PEQUEÑO
========================= */
@media (max-width: 480px) {
    .features-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

}